.DS_Store
.ipynb_checkpoints/
PachTrialLic
PachydermLicence
*.tar.gz
*.json
*.joblib

**/istio-1.7.3/
**/seldon-deploy-install/
**/seldon-deploy-install.tar.gz
**/terraform-google-kubernetes/

gke_install/pachyderm-deploy-custom.yaml
gke_install/fluentd-values.yaml
minikube_install/fluentd-values.yaml
repo/secret.yaml
repo/_tmp/
!repo/data/*.json
repo/dataset-prep.ipynb